.columns > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.columns .columns-column {
  min-width: 0;
}

.columns img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 16px;
}
@media (width < 768px) {
  .columns > div {
    grid-template-columns: 1fr;
  }
}