.table {
  width: 100%;
  overflow-x: auto;
}

.table table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 16px;
  border: 1px solid #ddd;
  text-align: left;
}

.table th {
  font-weight: 700;
}

.table tbody tr:nth-child(even) {
  background: #f7f7f7;
}